#### Import libraries & datasets
1. [Our world in data](https://ourworldindata.org/grapher/gdp-per-capita-penn-world-table), data from 1950 to 2019, except for Venezuela
2. [IMF](https://www.imf.org/external/datamapper/PPPPC@WEO/VEN/USA), Venezuela (2015-2022), Taiwan (2020-2022)
3. [World Bank](https://data.worldbank.org/indicator/NY.GDP.PCAP.KD.ZG?view=chart), data from 2020 to 2022, except for Taiwan and Venezuela

In [1]:
import pandas as pd
idf1 = pd.read_csv('../../Data_sources/Economy/gdp-per-capita-penn-world-table.csv', na_filter=False)
idf2 = pd.read_excel('../../Data_sources/Economy/imf-dm-export-20240220.xls',header=1,na_values='no data', na_filter=False)
idf3 = pd.read_excel('../../Data_sources/Economy/API_NY.GDP.PCAP.KD.ZG_DS2_en_excel_v2_240.xls',header=3, na_filter=False)

#### Prepare first dataset

In [2]:
df1 = idf1.rename(columns={"GDP per capita (output, multiple price benchmarks)":"GDPPC", "Entity":"Country"})
df1 = df1.reset_index().groupby(['Country', 'Year'])['GDPPC'].aggregate('first').unstack()
df1 = df1.reset_index()
df1 = df1.loc[df1['Country'].isin(['Ireland', 'Singapore', 'Switzerland', 'Norway', 'United Arab Emirates', 'United States', 'Netherlands', 'Hong Kong', 'Australia', 'Denmark', 'Austria', 'Sweden', 'Saudi Arabia', 'Germany', 'Canada', 'Taiwan', 'Finland', 'Belgium', 'United Kingdom', 'France', 'New Zealand', 'Venezuela', 'South Africa', 'Israel', 'Mexico'])]
df1 = df1.reset_index(drop=True)

#### Prepare second dataset

In [3]:
df2 = idf2.loc[idf2['Country'].isin(['Ireland', 'Singapore', 'Switzerland', 'Norway', 'United Arab Emirates', 'United States', 'Netherlands', 'Hong Kong SAR', 'Australia', 'Denmark', 'Austria', 'Sweden', 'Saudi Arabia', 'Germany', 'Canada', 'Taiwan Province of China', 'Finland', 'Belgium', 'United Kingdom', 'France', 'New Zealand', 'Venezuela', 'South Africa', 'Israel', 'Mexico'])]
df2 = df2 = df2.replace(['Hong Kong SAR','Taiwan Province of China'],['Hong Kong','Taiwan'])
df2 = df2.reset_index(drop=True)

/tmp/ipykernel_200314/3313918435.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = df2 = df2.replace(['Hong Kong SAR','Taiwan Province of China'],['Hong Kong','Taiwan'])

In [4]:
old = df2.drop(columns=[2014])
old = old.rename(columns={2015:2014, 2016:2015, 2017:2016, 2018:2017, 2019:2018, 2020:2019, 2021:2020, 2022:2021})
imfrates = old.loc[:,2014:2023]/df2.loc[:,2014:2023]

#### Prepare third dataset

In [5]:
wbrates = idf3.rename(columns={"Country Name":"Country"})
wbrates = wbrates.loc[wbrates['Country'].isin(['Ireland', 'Singapore', 'Switzerland', 'Norway', 'United Arab Emirates', 'United States', 'Netherlands', 'Hong Kong SAR, China', 'Australia', 'Denmark', 'Austria', 'Sweden', 'Saudi Arabia', 'Germany', 'Canada', 'Finland', 'Belgium', 'United Kingdom', 'France', 'New Zealand', 'Venezuela', 'South Africa', 'Israel', 'Mexico'])]
wbrates = wbrates.replace(['Hong Kong SAR, China'],['Hong Kong'])
wbrates = wbrates.drop(wbrates.iloc[:, 1:64],axis = 1)
wbrates = wbrates.reset_index(drop=True)
wbrates.loc[:,'2020':'2022'] = wbrates.loc[:,'2020':'2022']/100+1

/tmp/ipykernel_200314/594804848.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  wbrates = wbrates.replace(['Hong Kong SAR, China'],['Hong Kong'])

In [6]:
wbrates.loc[24] = ['Venezuela'] + imfrates.loc[24:24,2019:2021].values.flatten().tolist()
wbrates.loc[23] = ['Taiwan']+ imfrates.loc[20:20,2019:2021].values.flatten().tolist()
wbrates = wbrates.sort_values('Country').reset_index(drop=True)

#### Merging datasets

In [7]:
df3 = df1
df3.at[24, 2015] = imfrates.at[24,2014]*df1.at[24,2014]
df3.at[24, 2016] = imfrates.at[24,2015]*df3.at[24,2015]
df3.at[24, 2017] = imfrates.at[24,2016]*df3.at[24,2016]
df3.at[24, 2018] = imfrates.at[24,2017]*df3.at[24,2017]
df3.at[24, 2019] = imfrates.at[24,2018]*df3.at[24,2018]
df3[2020] = wbrates['2020']*df1[2019]
df3[2021] = wbrates['2021']*df3[2020]
df3[2022] = wbrates['2022']*df3[2021]

In [8]:
df3['rank50'] = df3[1950].rank(method='min',ascending=False)
df3['rank22'] = df3[2022].rank(method='min',ascending=False)
df3['rank22'].values[10] = 24
df3['rank22'].values[11] = 44
df3['rank22'].values[13] = 22
df3['rank22'].values[17] = 54
df3['rank22'].values[24] = 76
df3['growth'] = df3[2022]/df3[1950]
df3['growth'][8] = df3[2022][8]/df3[1960][8]
df3['growth'][15] = df3[2022][15]/df3[1970][15]
df3['growth'][16] = df3[2022][16]/df3[1960][16]
df3['growth'][20] = df3[2022][20]/df3[1951][20]
df3['growth'][21] = df3[2022][21]/df3[1986][21]
df3['growth'] = df3['growth'].round(1)
df3.loc[:,1950:2022] = df3.loc[:,1950:2022].round(0)
df3['Country'][21] = 'U.A.E.'
df3['Country'][22] = 'U.K.'
df3['Country'][23] = 'U.S.'
df3

/tmp/ipykernel_200314/1654268869.py:9: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df3['growth'][8] = df3[2022][8]/df3[1960][8]
/tmp/ipykernel_200314/1654268869.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['growth'][8] = df3[2022][8]/df3[1960][8]
/tmp/ipykernel_200314/1654268869.py:10: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df3['growth'][15] = df3[2022][15]/df3[1970][15]
/tmp/ipykernel_200314/1654268869.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['growth'][15] = df3[2022][15]/df3[1970][15]
/tmp/ipykernel_200314/1654268869.py:11: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df3['growth'][16] = df3[2022][16]/df3[1960][16]
/tmp/ipykernel_200314/1654268869.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['growth'][16] = df3[2022][16]/df3[1960][16]
/tmp/ipykernel_200314/1654268869.py:12: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df3['growth'][20] = df3[2022][20]/df3[1951][20]
/tmp/ipykernel_200314/1654268869.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['growth'][20] = df3[2022][20]/df3[1951][20]
/tmp/ipykernel_200314/1654268869.py:13: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df3['growth'][21] = df3[2022][21]/df3[1986][21]
/tmp/ipykernel_200314/1654268869.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['growth'][21] = df3[2022][21]/df3[1986][21]
/tmp/ipykernel_200314/1654268869.py:16: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df3['Country'][21] = 'U.A.E.'
/tmp/ipykernel_200314/1654268869.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Country'][21] = 'U.A.E.'
/tmp/ipykernel_200314/1654268869.py:17: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df3['Country'][22] = 'U.K.'
/tmp/ipykernel_200314/1654268869.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Country'][22] = 'U.K.'
/tmp/ipykernel_200314/1654268869.py:18: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df3['Country'][23] = 'U.S.'
/tmp/ipykernel_200314/1654268869.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Country'][23] = 'U.S.'

Year,Country,1950,1951,1952,1953,1954,1955,1956,1957,1958,...,2016,2017,2018,2019,2020,2021,2022,rank50,rank22,growth
0,Australia,13661.0,12853.0,12414.0,13721.0,14403.0,14776.0,14648.0,14428.0,15259.0,...,51497.0,52536.0,54237.0,54147.0,53304.0,54353.0,55976.0,3.0,10.0,4.1
1,Austria,5960.0,6261.0,6442.0,6780.0,7251.0,7943.0,8521.0,8951.0,9288.0,...,49866.0,51954.0,52968.0,53345.0,49600.0,51477.0,53438.0,16.0,14.0,9.0
2,Belgium,8349.0,8654.0,8796.0,9025.0,9393.0,9758.0,9977.0,10075.0,9884.0,...,43413.0,45150.0,44205.0,44840.0,42298.0,45010.0,45970.0,11.0,17.0,5.5
3,Canada,12879.0,13025.0,13720.0,13979.0,13520.0,14329.0,15133.0,15002.0,14962.0,...,47033.0,48903.0,49458.0,49884.0,46847.0,48913.0,49680.0,4.0,16.0,3.9
4,Denmark,10533.0,10272.0,10416.0,10986.0,11258.0,11132.0,11295.0,11809.0,11961.0,...,48930.0,51672.0,51932.0,54027.0,52564.0,55919.0,56995.0,6.0,9.0,5.4
5,Finland,6581.0,7332.0,7421.0,7279.0,7977.0,8530.0,8588.0,8578.0,8524.0,...,42578.0,43827.0,44199.0,44929.0,43807.0,45103.0,45701.0,13.0,18.0,6.9
6,France,7635.0,7986.0,8147.0,8411.0,8818.0,9215.0,9586.0,10009.0,10204.0,...,41386.0,42819.0,43192.0,43755.0,40346.0,42820.0,43738.0,12.0,20.0,5.7
7,Germany,5227.0,5757.0,6252.0,6751.0,7292.0,8258.0,8843.0,9287.0,9531.0,...,49256.0,51253.0,51285.0,51191.0,49192.0,50727.0,51272.0,19.0,15.0,9.8
8,Hong Kong,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,50629.0,49927.0,55579.0,54810.0,51407.0,55220.0,53786.0,NaN,13.0,9.0
9,Ireland,5439.0,5513.0,5738.0,5877.0,5973.0,6158.0,6129.0,6137.0,6086.0,...,81188.0,86809.0,91647.0,102622.0,108293.0,123489.0,132660.0,18.0,1.0,24.4
10,Israel,5787.0,6703.0,5975.0,5780.0,6720.0,7367.0,7820.0,8006.0,8242.0,...,39039.0,38979.0,38244.0,38563.0,37185.0,39714.0,41601.0,17.0,24.0,7.2
11,Mexico,5065.0,5332.0,5402.0,5171.0,5575.0,5858.0,6072.0,6331.0,6442.0,...,18914.0,18940.0,19200.0,18737.0,16992.0,17883.0,18464.0,20.0,44.0,3.6
12,Netherlands,9007.0,9299.0,9416.0,10065.0,10536.0,11280.0,11575.0,11846.0,11641.0,...,51436.0,54233.0,54922.0,55569.0,53114.0,56108.0,57982.0,10.0,8.0,6.4
13,New Zealand,11964.0,10779.0,11028.0,11131.0,11970.0,12163.0,12208.0,12455.0,12606.0,...,38739.0,39729.0,40128.0,41522.0,40351.0,42261.0,43358.0,5.0,22.0,3.6
14,Norway,9827.0,10247.0,10649.0,11062.0,11237.0,11487.0,11813.0,12259.0,12061.0,...,67263.0,69605.0,75246.0,73669.0,72300.0,74718.0,76477.0,9.0,4.0,7.8
15,Saudi Arabia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,49481.0,48487.0,51420.0,51825.0,49341.0,51543.0,55312.0,NaN,11.0,2.3
16,Singapore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,75540.0,81445.0,82762.0,82336.0,79372.0,90102.0,90349.0,NaN,2.0,32.7
17,South Africa,5968.0,6069.0,5532.0,5957.0,6315.0,6409.0,6646.0,6865.0,6711.0,...,12696.0,12735.0,12671.0,12536.0,11645.0,12072.0,12199.0,15.0,54.0,2.0
18,Sweden,10465.0,10705.0,10730.0,11056.0,11558.0,11805.0,12109.0,12259.0,12481.0,...,50486.0,52033.0,51774.0,52433.0,50926.0,53733.0,54880.0,7.0,12.0,5.2
19,Switzerland,16252.0,17531.0,17262.0,17711.0,18741.0,19954.0,21136.0,21587.0,20471.0,...,72051.0,73625.0,74621.0,75299.0,73150.0,76506.0,77834.0,1.0,3.0,4.8
20,Taiwan,NaN,1621.0,1801.0,1923.0,2028.0,2102.0,2191.0,2299.0,2386.0,...,43836.0,45375.0,45612.0,46761.0,49063.0,55048.0,60577.0,NaN,7.0,37.4
21,U.A.E.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,71668.0,66384.0,65819.0,66113.0,62324.0,64497.0,69001.0,NaN,5.0,0.5
22,U.K.,10457.0,10759.0,10697.0,11205.0,11595.0,12021.0,12220.0,12401.0,12403.0,...,42644.0,44094.0,44296.0,44275.0,39543.0,43009.0,44915.0,8.0,19.0,4.3
23,U.S.,15912.0,16814.0,17095.0,17586.0,17227.0,18205.0,18297.0,18360.0,17873.0,...,59115.0,60117.0,61619.0,62589.0,60273.0,63756.0,64745.0,2.0,6.0,4.1
24,Venezuela,6121.0,6494.0,7127.0,7037.0,7457.0,7616.0,7879.0,8281.0,8400.0,...,10097.0,8753.0,7585.0,5803.0,4096.0,4380.0,5187.0,14.0,76.0,0.8

#### Exporting dataframe to Echarts JSON format

In [9]:
# Transform df to Echart Dataset format
import json
content = df3.T.reset_index().T.values.tolist()
# Export Echart Dataset (one single line)
with open('../DVID/gdppc.dataset', 'w') as foo:
        json.dump(content, foo)